APP_ENV=local
APP_TITLE=Private Lagerwirtschaft
DATABASE_URL=postgresql+psycopg://USER:PASSWORD@HOST/DBNAME?sslmode=require

APP_USERNAME=Altstrippe
APP_PASSWORD=DEIN_PASSWORT_HIER
APP_SECRET_KEY=change_me_to_a_long_random_secret